body{
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   
}
.details{
    width: 100%;
    height: max-content;  
}

.details_main{
    display: flex;
    margin: 20px;
    border: #2d9274;
    border-radius: 15px;
    padding: 20px;
    color: aliceblue;
    background: rgb(0 0 0 / 38%);;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.image{
    height: 300px;
    width: 40%;
    /* background-color: red; */
    padding: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}

.details_right{
    width: 60%;
    height: auto;
    padding: 20px;
    /* background-color: blue; */
}
.details_right button{
    width: 45%;
    height: 35px;
    border-radius: 10px;
    background-color: #11c44c;
    color: white;
    border: none;
}
.details_right button:hover{
    background-color: #cae6dd;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    
}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;

}

.card{
    width: 20%;
    height:400px;
    text-align: center;
    background: rgb(0 0 0 / 20%);;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    border: #2d9274 2px;
    border-radius: 15px;
    
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(27, 44, 26);
}
.card button{
    background-color: #11c44c;
    color: white;
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
    object-fit: cover;
    overflow: hidden;
    border:#2d9274;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;

    
}
.card button:hover{
    background-color: #cae6dd;
    cursor: pointer;
    background-color: #cae6dd;
    color: black;
   
}

/* for footer section */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 50, 51);
  }
  
  .foot-container1{
    /* border: black 12px ; */
    height: 300px;
    background-color: rgb(50, 50, 51);
    width: 50%;
  }
  
  
  .foot-container1 img{
    width:30%;
    height: 50%;
    border-radius: 50%;
    margin-top: 15px;
  }
  .foot-container1 h3{
    color: rgb(211, 207, 207);
  }
  
  
  .foot-container2{
   
    height: 300px;
   border: black ;
   background-color: rgb(50, 50, 51);
   width: 50%;
   border-radius: 20px;
  }
  .lists{
    color: rgb(212, 210, 210);
    display: flex;
    justify-content: space-around;
  }
  .list1{
    margin-top: 15px;
  }
  
  .list2{
    margin-top: 15px;
  }
  .social-icons{
    margin-left: 100px;
    margin-top: 10px;
  }
  .Footer{
    background-color:rgb(50, 50, 51) ;
   
    margin-left: -10px;
    margin-right: -8px;
    margin-top: 35px;
    margin-bottom: -11px
  }

  /* for navbar */
  .navbar{
    display: flex;
    justify-content: space-around;
    width: 102%;
    height: 70px;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgba(245, 245, 245, 0.377);
    margin-left: -8px;
    
    margin-top: -8px;
  }
  
  .navbar .left{
    display: flex;
    width: 50%;
    margin: 10px;
    left: 10px;
    margin-left: 0px;
    justify-content: space-evenly;
   
  }

  .navbar .left ul{
    display: flex;
    justify-content: center;
    gap: 29px;
    align-items: center;
    margin-left: -97px;
  }

  .navbar .left ul li a {
    color: black;  /* Change text color to black */
    text-decoration: none;  /* Remove underline */
}


.navbar .left ul li{
    list-style: none;
    font-size:17px;
}

  .navbar .left img{
    border-radius: 50%;
    width: 50px;
  margin-left: -50px;
    
  }
 .adjust{
    margin-left: -48px;
   
 }
.nav-items{
    margin-left: -60px;
    
}
.navbar .right{
    display: flex;
    width: 50%;
  
    justify-content: flex-end;
    margin: 15px;
}
    
  .navbar .right i {
   
    margin-left: 15px;
    cursor: pointer;
}
.fa-magnifying-glass {
    margin: 0 0.5rem; /* Add space on both sides */
  }
  
  .fa-cart-shopping {
    margin-left: 0.5rem; /* Add space to the left */
  }
  .increase{
    max-width: 100%;

  }